{% extends 'base.html.twig' %}

{% block title %}Bienvenido
	{{ app.user.NombreApellidos }}!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h4>Hola
			{{ app.user.NombreApellidos }}
		</h4>

		<br><br>

		<h4>{{ titulo }}
			{{ alojamiento.Descripcion }}
		</h4>

		<table class="table table-striped table-hover">
			<tr>
				<th>#</th>
				<th>Cliente</th>
				<td>Entrada</td>
				<td>Salida</td>
			</tr>

			{% for alquiler in alojamiento.Alquileres %}
				<tr>
					<td>{{ alquiler.Cliente.id }}</td>
					<td>{{ alquiler.Cliente.NombreApellidos }}</td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}

		</table>


	</div>
{% endblock %}
