{% extends 'base.html.twig' %}

{% block title %}Escuela de Música
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container">

		<h4>{{ titulo }}</h4>

		{{ form_start(formulario) }}
		{{ form_widget(formulario) }}{{ form_end(formulario) }}

		<br><br><br>

		<table class="table table-striped table-hover">
			<tr>
				<th>ID</th>
				<th>Instrumento con el que se da clase</th>
				<th>Profesor que imparte</th>
				<th>Ver Alumnos Matriculados</th>
			</tr>
			{% for e in instrumento %}
				<tr>
					<td>{{ e.id}}</td>
					<td>{{ e.nombre }}</td>
					<td>
						{{ e.profesor.username }}
					</td>
					<td>
						<a href=" {{ path('app_ver_matriculados' , { 'id': e.id }) }} ">Ver</a>
					</td>
				</tr>
			{% endfor %}


		</td>

	</tr>
</table>
<button>
	<a href=" {{ path('app_añadir_instrumento') }} ">Añadir Instrumento</a>
</button></div>{% endblock %}
